body {
  margin: 0;
  background-color: #B1ADE5;
}
html,
body {
  height: 100%;
	overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}
canvas {
  display: block;
}

#canvas3d{
  position: absolute;
  left: 20%;  
}

#text{
  position: absolute;
  z-index: 10;
  max-width: 700px; 
  left: 80px;
  top: 40px;
  bottom: 40px;
  height: auto;
}

h1 {
  font-size: 3em; 
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: #383F7D;
}

p {
  font-size: 2em; 
  margin-bottom: 1em;
  line-height: 1.5;
}

#paragraph {
  color: #696CA7; 
  position: absolute;
  bottom: 80px;
}

#copyright {
  font-size: 1em;
  color: #696CA7; 
  position: absolute;
  bottom: 20px;
}

.scene{
  color: #696CA7;

}

#scene1{
  margin: 0;
  padding: 0;
}

#scene1:hover{
  color: #383F7D;
  cursor: pointer;
}

#scene2{
  margin: 0;
  padding: 0;
}

#scene2:hover{
  color: #383F7D;
  cursor: pointer;
}

#perspective-button{
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 20;
  color: #383F7D;
  font-size: 1em;
}

#perspective-button:hover{
  color: #383F7D;
  cursor: pointer;
  border-bottom: 2px solid #383F7D;
}