body {
  margin: 0;
  background-color: #B1ADE5;
}
html,
body {
  height: 100%;
	overflow: hidden;
  font-family: 'Arial', sans-serif;
}
canvas {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 80%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100px; 
  height: 100px; 
}


#transform-button {
  display: flex;
  bottom: 200px;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s, transform 0.1s ease;
  background-color: transparent; 
  color: #222222;
}

#transform-button:hover {
  border-color: #000000;
  border: 2px solid #000000;

}

#canvas3d{
  position: absolute;
  left: 20%;  
}

#text{
  position: absolute;
  z-index: 10;
  max-width: 700px; /* Adjust the width as needed */
  left: 80px;
  top: 40px;
  bottom: 40px;
  height: auto;
}

h1 {
  font-size: 3em; /* Adjust the size as needed */
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: #383F7D;
}

p {
  font-size: 2em; /* Adjust the size as needed */
  margin-bottom: 1em;
  line-height: 1.5;
}

#paragraph {
  color: #696CA7; /* Lighter text color for the paragraph */
  position: absolute;
  bottom: 80px;
}

#copyright {
  font-size: 1em;
  color: #696CA7; /* Even lighter text color */
  position: absolute;
  bottom: 20px;
}

.scene{
  color: #696CA7;
}

#scene1{
  color: #383F7D;
}